# Module 1 - Pandas

In [1]:
# Importing pandas liberary and numpyp
import numpy as np 
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
stock_data = pd.read_csv('./INFY.csv')
stock_data.head(4)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32

Check whether csv file has data on more than one category.

In [3]:
# Categories in Series column
stock_data.Series.unique()

array(['EQ', 'BL'], dtype=object)

In [4]:
# All rows where Series have 'BL' category
stock_data[stock_data.Series == 'BL']

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
444,INFY,BL,25-Feb-2019,1220.15,734.95,734.95,734.95,734.95,734.95,734.95,1263230,9.284109e+08,1,0,0.0
462,INFY,BL,22-Mar-2019,734.95,738.95,738.95,738.95,738.95,738.95,738.95,1727935,1.276858e+09,1,1727935,100.0

 Remove all the rows where 'Series' column is NOT 'EQ'.

In [5]:
# Taking all rows which have 'EQ' in Series columns
stock_data = stock_data[stock_data.Series == 'EQ']

# To ensure only category in Series Columns
stock_data.Series.unique()

array(['EQ'], dtype=object)

In [6]:
# Checking Last 4 Rows
stock_data.tail(4)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
492,INFY,EQ,08-May-2019,724.55,721.00,726.00,716.5,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24
493,INFY,EQ,09-May-2019,719.35,719.15,730.30,715.8,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01
494,INFY,EQ,10-May-2019,721.05,720.80,726.00,715.0,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39
495,INFY,EQ,13-May-2019,716.85,716.55,726.45,712.1,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70

In [7]:
# Checking First 5 Rows
stock_data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,19-May-2017,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48

In [8]:
# Generates descriptive statistics of stock_data
stock_data.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,4.940000e+02,4.940000e+02,494.000000
mean,961.440789,961.070040,971.092713,951.052733,960.845648,960.945749,961.166498,6.056365e+06,5.469840e+09,1.361482e+05,3.605878e+06,61.759008
std,220.761549,220.091227,222.968974,218.714372,220.968590,221.029267,221.102384,5.451445e+06,4.770342e+09,8.557589e+04,2.840733e+06,9.924135
min,619.100000,621.000000,628.000000,599.850000,619.500000,619.100000,613.780000,5.457170e+05,5.060941e+08,1.388600e+04,3.077410e+05,26.380000
25%,735.025000,736.187500,742.700000,729.012500,734.125000,734.462500,735.720000,3.148044e+06,3.350973e+09,9.246300e+04,2.064895e+06,55.142500
50%,956.750000,957.525000,964.775000,948.000000,956.025000,955.975000,955.060000,4.905804e+06,4.601808e+09,1.197605e+05,3.053880e+06,62.270000
75%,1150.150000,1145.412500,1161.675000,1135.962500,1147.950000,1150.150000,1148.280000,7.303918e+06,6.042062e+09,1.551745e+05,4.332777e+06,68.767500
max,1441.100000,1449.000000,1467.900000,1430.000000,1440.000000,1441.100000,1451.300000,8.220248e+07,7.662502e+10,1.192900e+06,4.202849e+07,88.700000


Calculated the maximum, minimum and mean price for the last 90 days.

In [9]:
last_90_days = stock_data.tail(90)
price = last_90_days['Close Price']
max_min_mean = price.apply(['max', 'min', 'mean'])
max_min_mean

max     767.250000
min     658.950000
mean    728.602778
Name: Close Price, dtype: float64

Analyse the data types for each column of the "stock_data"

In [10]:

stock_data.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

 Changing the `date` column from 'object' type to 'datetime64(ns)'

In [11]:

stock_data.Date.dtypes

dtype('O')

In [12]:

pd.np.dtype('O') == pd.np.dtype('object')

True

In [13]:

stock_data.Date  = pd.to_datetime(stock_data.Date)

In [14]:

stock_data.Date.dtype

dtype('<M8[ns]')

In [15]:

pd.np.dtype('<M8[ns]') == pd.np.dtype('datetime64[ns]')

True

In [16]:
# Checking Changed Datatypes
stock_data.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [17]:
stock_data.head(3)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,2017-05-15,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,2017-05-16,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,2017-05-17,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35

subtract the minimum value of the date column from the maximum value.

In [18]:
stock_data.Date.max() - stock_data.Date.min()

Timedelta('728 days 00:00:00')

VWAP

In [19]:
# Create a new column ‘Year' in stock_data Dataframe
stock_data['Year'] = pd.DatetimeIndex(stock_data.Date).year

In [20]:
# Create a new column ‘Month' in stock_data Dataframe
stock_data['Month'] = pd.DatetimeIndex(stock_data.Date).month

Here
 "`Total Traded Quantity`" => Volume
 "`Average Price`" => Price
 "`Turnover`" => Price * Volume

    - Product of total volume traded to the average price of a stock for the day.

In [21]:
stock_data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month
0,INFY,EQ,2017-05-15,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,2017,5
1,INFY,EQ,2017-05-16,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,2017,5
2,INFY,EQ,2017-05-17,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,2017,5
3,INFY,EQ,2017-05-18,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,2017,5
4,INFY,EQ,2017-05-19,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,2017,5

In [22]:
VWAP_numerator = stock_data.groupby(by=['Year', 'Month']).Turnover.sum()
# VWAP_numerator

In [23]:
VWAP_denominator = stock_data.groupby(by=['Year', 'Month'])["Total Traded Quantity"].sum()
# VWAP_denominator

In [24]:
VWAP_monthwise = VWAP_numerator / VWAP_denominator
VWAP_monthwise

Year  Month
2017  5         968.537111
      6         948.418827
      7         981.300039
      8         924.295777
      9         897.289101
      10        932.379024
      11        968.930588
      12       1011.191587
2018  1        1113.080087
      2        1138.761763
      3        1163.889891
      4        1151.846847
      5        1199.100435
      6        1262.187976
      7        1331.158849
      8        1395.890650
      9         754.870986
      10        689.418858
      11        650.069640
      12        670.268692
2019  1         706.374185
      2         745.845937
      3         724.472135
      4         738.362671
      5         723.280201
dtype: float64

 calculated the average price over the last N days of the stock price data

In [25]:
def last_N_days_avg_price(dataframe, N):
    
    return dataframe.tail(N)["Average Price"].mean()

In [26]:
last_N_days_avg_price(stock_data, 45)

732.259111111111

calculated the profit/loss percentage over the last N days.

In [27]:
def last_N_days_profit_loss_percentage(dataframe, N):
    
    return ((dataframe["Close Price"].iloc[-1] - dataframe["Close Price"].iloc[-N])/dataframe["Close Price"].iloc[-N])*100

In [28]:
# profit/loss percentage over the last N days.
last_N_days_profit_loss_percentage(stock_data,N=3)

-0.18722696068232567

Calculate the Average Price over the course of last :
- 1 week, 
- 2 weeks, 
- 1 month, 
- 3 months, 
- 6 months,
- 1 year.

In [29]:
def avg_price(dataframe, days=None, weeks=None, months=None, years=None):
   
    if days:
        print("Average Price For",days,"day." if days==1 else "days.","\n",'-'*10)
        return last_N_days_avg_price(dataframe, days)
    
    elif weeks:
        print("Average Price For",weeks,"week." if weeks==1 else "weeks.","\n",'-'*10)
        day = weeks * 5
        return last_N_days_avg_price(dataframe, day)
    
    elif months:
        print("Average Price For",months,"month." if months==1 else "months.","\n",'-'*10)
        day = months * 21
        return last_N_days_avg_price(dataframe, day)
        
    elif years:
        print("Average Price For",years,"year." if years==1 else "years.","\n",'-'*10)
        day = years * 252
        return last_N_days_avg_price(dataframe, day)

In [30]:
# 1 week
avg_price(stock_data, weeks=1)

Average Price For 1 week.
 ----------

721.722

In [31]:
# 2 week
avg_price(stock_data, weeks=2)

Average Price For 2 weeks.
 ----------

727.4849999999999

In [32]:
# 1 month
avg_price(stock_data, months=1)

Average Price For 1 month.
 ----------

731.7104761904762

In [33]:
# 3 months
avg_price(stock_data, months=3)

Average Price For 3 months.
 ----------

736.0587301587304

In [34]:
# 6 months
avg_price(stock_data, months=6)

Average Price For 6 months.
 ----------

709.4751587301586

In [35]:
# 1 year
avg_price(stock_data, years=1)

Average Price For 1 year.
 ----------

907.0046031746027

Calculated the Profit/Loss Percentages over the course of last :
- 1 week, 
- 2 weeks, 
- 1 month, 
- 3 months, 
- 6 months,
- 1 year.

In [36]:
def profit_loss_percentage(dataframe, days=None, weeks=None, months=None, years=None):
    
    if days:
        print("Profit/Loss Percentage For",days,"day." if days==1 else "days.","\n",'-'*10)
        return last_N_days_profit_loss_percentage(dataframe, days)
    
    elif weeks:
        print("Profit/Loss Percentage For",weeks,"week." if weeks==1 else "weeks.","\n",'-'*10)
        day = weeks * 5
        return last_N_days_profit_loss_percentage(dataframe, day)
    
    elif months:
        print("Profit/Loss Percentage For",months,"month." if months==1 else "months.","\n",'-'*10)
        day = months * 21
        return last_N_days_profit_loss_percentage(dataframe, day)
        
    elif years:
        print("Profit/Loss Percentage For",years,"year." if years==1 else "years.","\n",'-'*10)
        day = years * 252
        return last_N_days_profit_loss_percentage(dataframe, day)

In [37]:
# 1 week
profit_loss_percentage(stock_data, weeks=1)

Profit/Loss Percentage For 1 week.
 ----------

-0.6693809951003947

In [38]:
# 2 weeks
profit_loss_percentage(stock_data, weeks=2)

Profit/Loss Percentage For 2 weeks.
 ----------

-2.4796747967479615

In [39]:
# 1 month
profit_loss_percentage(stock_data, months=1)

Profit/Loss Percentage For 1 month.
 ----------

-5.377333683933734

In [40]:
# 3 months
profit_loss_percentage(stock_data, months=3)

Profit/Loss Percentage For 3 months.
 ----------

-5.712039827066673

In [41]:
# 6 months
profit_loss_percentage(stock_data, months=6)

Profit/Loss Percentage For 6 months.
 ----------

7.990096781453972

In [42]:
# 1 year
profit_loss_percentage(stock_data, years=1)

Profit/Loss Percentage For 1 year.
 ----------

-38.649731480692175

In [43]:
# calculate Day Percentage Change and fill NaN with value 0.00
stock_data["Day_Perc_Change"] = stock_data["Close Price"].pct_change().fillna(value=0)*100
stock_data.head(10)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Day_Perc_Change
0,INFY,EQ,2017-05-15,964.25,963.50,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,2017,5,0.000000
1,INFY,EQ,2017-05-16,951.55,953.10,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,2017,5,0.362566
2,INFY,EQ,2017-05-17,955.00,951.60,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,2017,5,-0.230366
3,INFY,EQ,2017-05-18,952.80,943.00,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,2017,5,0.939337
4,INFY,EQ,2017-05-19,961.75,961.50,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,2017,5,-0.395113
5,INFY,EQ,2017-05-22,957.95,958.40,966.90,956.55,960.00,961.45,962.29,2751526,2.647755e+09,99616,2034031,73.92,2017,5,0.365364
6,INFY,EQ,2017-05-23,961.45,964.65,967.00,954.10,957.50,957.30,960.16,2019991,1.939515e+09,80122,1436389,71.11,2017,5,-0.431640
7,INFY,EQ,2017-05-24,957.30,960.00,965.50,949.60,957.00,954.80,958.37,2818143,2.700827e+09,56898,1913750,67.91,2017,5,-0.261151
8,INFY,EQ,2017-05-25,954.80,961.00,986.60,961.00,981.00,983.30,978.16,5219257,5.105250e+09,76160,4108984,78.73,2017,5,2.984918
9,INFY,EQ,2017-05-26,983.30,987.00,1000.00,980.60,996.05,995.70,994.06,2494002,2.479194e+09,63671,1477643,59.25,2017,5,1.261060


Added another column 'Trend' whose values are:

- **'Slight or No change'** for 'Day_Perc_Change' in between -0.5 and 0.5
- **'Slight positive'** for 'Day_Perc_Change' in between 0.5 and 1
- **'Slight negative'** for 'Day_Perc_Change' in between -0.5 and -1
- **'Positive'** for 'Day_Perc_Change' in between 1 and 3
- **'Negative'** for 'Day_Perc_Change' in between -1 and -3
- **'Among top gainers'** for 'Day_Perc_Change' in between 3 and 7
- **'Among top losers'** for 'Day_Perc_Change' in between -3 and -7
- **'Bull run'** for 'Day_Perc_Change' >7
- **'Bear drop'** for 'Day_Perc_Change' <-7

In [44]:
Category_bins = [-pd.np.inf, -7, -3, -1, -0.5, 0.5, 1, 3, 7, pd.np.inf]
Category_bins

[-inf, -7, -3, -1, -0.5, 0.5, 1, 3, 7, inf]

In [45]:
Category_labels = ['Bear drop','Among top losers','Negative','Slight negative','Slight or No change','Slight positive','Positive','Among top gainers','Bull run']
Category_labels

['Bear drop',
 'Among top losers',
 'Negative',
 'Slight negative',
 'Slight or No change',
 'Slight positive',
 'Positive',
 'Among top gainers',
 'Bull run']

In [46]:
stock_data['Trend'] = pd.cut(stock_data.Day_Perc_Change, bins=Category_bins, labels=Category_labels, include_lowest=True)
stock_data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Day_Perc_Change,Trend
0,INFY,EQ,2017-05-15,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,2017,5,0.000000,Slight or No change
1,INFY,EQ,2017-05-16,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,2017,5,0.362566,Slight or No change
2,INFY,EQ,2017-05-17,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,2017,5,-0.230366,Slight or No change
3,INFY,EQ,2017-05-18,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,2017,5,0.939337,Slight positive
4,INFY,EQ,2017-05-19,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,2017,5,-0.395113,Slight or No change

In [47]:
# Print the first 10 values with only "Day_Perc_Change" and "Trend" columns
stock_data.iloc[:10, -2:]

   Day_Perc_Change                Trend
0         0.000000  Slight or No change
1         0.362566  Slight or No change
2        -0.230366  Slight or No change
3         0.939337      Slight positive
4        -0.395113  Slight or No change
5         0.365364  Slight or No change
6        -0.431640  Slight or No change
7        -0.261151  Slight or No change
8         2.984918             Positive
9         1.261060             Positive

In [48]:
avg_median_trendwise = stock_data.groupby(by="Trend")["Total Traded Quantity"].agg(['mean','median']).rename(columns={'mean':'average'})
avg_median_trendwise

                          average      median
Trend
Bear drop            4.878630e+07  48786302.0
Among top losers     1.463854e+07  10985897.0
Negative             5.634151e+06   5088554.0
Slight negative      5.454672e+06   4616803.0
Slight or No change  4.647983e+06   4043539.5
Slight positive      5.848807e+06   5301784.0
Positive             6.655530e+06   5523811.5
Among top gainers    1.259063e+07  12042170.5
Bull run                      NaN         NaN

In [50]:
# Save the dataframe as "week2.csv" file
stock_data.to_csv('./week2.csv')